[Desktop Entry]
Type=Application
Name=Nova Updater
Comment=Install and update Nova Network tools from their git repos
Exec=nova-gui
Icon=org.novanetwork.NovaUpdater
Terminal=false
Categories=System;Settings;PackageManager;
Keywords=update;install;git;nova;
